img.wp-post-image,
article img,
figure,
#secondary img {
    margin-bottom: 10px;
}

.wp-caption-text {
    margin-bottom: 10px;
}

.widget-area aside {
    padding-bottom: 10px;
    padding-top: 10px;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

#page {
    word-wrap: break-word;
}

#wrapper-footer-full,
#wrapper-static-hero {
    background-color: #e9ecef;
    background-image: url("https://images.unsplash.com/photo-1504548840739-580b10ae7715?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjIwOTIyfQ");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: color-burn;
}

.bg-primary {
    background-color: #940000 !important;
}

a {
    color: #940000;
    text-decoration: none;
    background-color: transparent;
}

nav h1 {
    font-family: Lobster;
    text-shadow: 0px 2px 3px;
    font-size: 1.5rem;
}

.navbar .nav-item {
    background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
    background: -webkit-linear-gradient(left, #000000, #434343);
    background: -o-linear-gradient(left, #000000, #434343);
    background: linear-gradient(90deg, #000000, #434343);
    font-family: Cookie;
    font-weight: 700;
}